<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CRUD</title>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Books List</h2>
    <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>Book ID</th>
          <th>Title</th>
          <th>Desc</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each books}}
        <tr>
          <td>{{ id }}</td>
          <td>{{ title }}</td>
          <td>{{ body }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id }}" data-book_author="{{ author }}" data-book_title="{{ title }}" data-book_body="{{ body }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!-- Modal Add Produk-->
  <form action="/web/v1/books/create" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" name="author" class="form-control" placeholder="author" required>
            </div>
            <div class="form-group">
              <input type="text" name="title" class="form-control" placeholder="Book Title" required>
            </div>

            <div class="form-group">
              <textarea name="body" class="form-control" placeholder="description" required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Update Produk-->
  <form action="/web/v1/books/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" name="author" class="form-control author" placeholder="Author" required>
            </div>
            <div class="form-group">
              <input type="text" name="title" class="form-control title" placeholder="Book Title" required>
            </div>

            <div class="form-group">
              <textarea name="body" class="form-control body" placeholder="description" required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="book_id">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Delete Produk-->
  <form id="del-row-form" action="/web/v1/books/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Delete Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Anda yakin mau menghapus data ini?</strong>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="form-control book_id_del" required>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
    //tampilkan data ke modal untuk edit
    $('#mytable').on('click','.edit',function(){
      var id = $(this).data('id');
      var title = $(this).data('book_title');
      var author = $(this).data('book_author');
      var body = $(this).data('book_body');

      $('#EditModal').modal('show');
      $('.author').val(author);
      $('.title').val(title);
      $('.body').val(body);
      $('.book_id').val(id);

    });
    //tampilkan modal hapus record
    $('#mytable').on('click','.delete',function(){
      var id = $(this).data('id');
      $('#DeleteModal').modal('show');
      $('.book_id_del').val(id);
    });

  });
</script>
</body>
</html>
