<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <!-- Content here -->
    <div class="row">
      <div class="col-sm-12 bg-secondary border">
        <%= title %>
        <ul>
          <% project.forEach(function (row) { %>
            <li><%= row %></li>
            <% }) %>
          </ul>
      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>

</body>
</html>
